<div class="main-container">
	<button class="btn btn-primary" (click)="modalOpen = true">Resolve List</button>
</div>

<clr-wizard #wizardmd [(clrWizardOpen)]="modalOpen" clrWizardSize="xl">
    <clr-wizard-title>List Conflict Resolver</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Edit List</ng-template>
        <clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox value="option1" name="options" [(ngModel)]="originaValuesShown" />
  <label>Show Original Values</label>
</clr-checkbox-wrapper>
        <div class="resolver-container" [class.original-values-shown]="originaValuesShown">
          <div class="title-wrapper">
            <h4 class="original-title title" *ngIf="originaValuesShown">Original Values</h4>
            <h4 class="choices-title title" (click)="selectAll(1)">V1234</h4>
            <h4 class="choices-title title" (click)="selectAll(2)">V12346</h4>
            <h4 class="results-title title">Final results</h4>
            <button class="btn btn-link btn-sm clear-btn" (click)="selectAll(0)" *ngIf="isClearSelectionVisible"
            >Clear Selection</button>
          </div>
          <div class="list-editor-wrapper" [class.half-view]="showingMoreInfo">
          <div class="list list-choices">
            <div class="list-item" *ngFor="let listItem of listItems" (mouseover)="onItemHighlight(listItem.id)" (mouseout)="onItemHighlight(-1)" [class.highlighted-item]="listItem.id === highlightedItemId">
                <clr-icon shape="info" size="24" class="more-info-icon" (click)="onShowMoreInfo($event, listItem.id)"></clr-icon>
              <div class="option option-original" *ngIf="originaValuesShown">    
                {{listItem.baseOption}}</div>
              <div class="option option-left" (click)="selectOption(listItem.id, 1)" [class.selected]="listItem.leftSideSelected">    
                {{listItem.leftOption}}</div>
              <div class="option option-right" (click)="selectOption(listItem.id, 2)" [class.selected]="listItem.rightSideSelected">
                {{listItem.rightOption}}
              </div>
            </div>
          </div>
          <div class="list list-results">
             <div class="results-list-item" *ngFor="let resultItem of resultsList" [class.highlighted-item]="resultItem.id === highlightedItemId" 
             (mouseover)="onItemHighlight(resultItem.id)" (mouseout)="onItemHighlight(-1)">
               <div class="result-content-container">
               <clr-icon shape="times" (click)="removeSelection(resultItem.id)" 
               *ngIf="resultItem.selectedOption !== 0"></clr-icon>
               <div class="result-text">
                  {{resultItem.selectedOptionString}}
               </div>
               </div>
             </div>
          </div>
          </div>
          <div class="more-info-container" *ngIf="showingMoreInfo">
            <div class="more-info-header-wrapper">
            <h5 class="more-info-title">{{moreInfoObject.title}}</h5>
            <clr-icon shape="times" (click)="onCloseMoreInfo()" class="close-button"></clr-icon>
            </div>
            <div class="more-info-content">
                <div class="row version-header">
                  <div class="col base-col">
                    <h6>Original Value</h6>
                  </div>
                  <div class="col left-col">
                    <h6>V1234</h6>
                  </div>
                  <div class="col right-col">
                    <h6>V12346</h6>
                  </div>
                </div>
                <div class="key-value-row-container">
                <div class="row" *ngFor="let valObject of moreInfoObject.fieldValueList" >
                  <div class="col base-col">
                    <div class="key">{{valObject.key}}:</div> <div class="value">{{valObject.baseValue}}</div>
                  </div>
                  <div class="col left-col">
                    <div class="key">{{valObject.key}}:</div> <div class="value" [class.changed]="valObject.lhsChanged">{{valObject.lhsValue}}</div>
                  </div>
                  <div class="col right-col">
                    <div class="key">{{valObject.key}}:</div> <div class="value" [class.changed]="valObject.rhsChanged">{{valObject.rhsValue}}</div>
                  </div>
                </div>
                </div>

            </div>
          </div>
        </div>

    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Confirm Selection</ng-template>
        <div class="list-confirmation list">
             <div class="results-list-item" *ngFor="let confirmationItem of confirmationList">
               <div class="result-content-container">
               <clr-icon shape="times" (click)="removeSelection(confirmationItem.id)" ></clr-icon>
               <div class="result-text">
                  {{confirmationItem.selectedOptionString}}
               </div>
               </div>
             </div>
        </div>
    </clr-wizard-page>
</clr-wizard>